PANEL_PORT=8080

# Panel Login (Basic, lokal gespeichert)
PANEL_USER=admin
PANEL_PASS=< BASIC AUTH PASSWORD >

# CS2 RCON
CS2_HOST=< IP-ADR OF CS2 SERVER >
CS2_PORT=< RCON PORT (default: 27015) >
CS2_RCON_PASSWORD=< RCON PASSWORD >

# Optional: allow only these maps as "one-click"
STANDARD_MAPS=de_dust2,de_mirage,de_inferno,de_nuke,de_ancient,de_anubis,de_vertigo

DOCKER_CONTAINER=< DOCKER CONTAINER NAME >
LOG_LINES=200

AUTO_TTL_MS=600000
AUTO_MAX_ITEMS=80000
